<!DOCTYPE html>
<!--

-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"> <!-- comment -->        
    </head>
    <title>Nueva persona</title>
    <body>
    <header th:replace="plantilla/template.html::header"></header> <!-- comment-->
        
        <!-- Esto es un formulario-->
        <div class = "container">
            <form th:object = "${persona}"
                  th:action="@{/save}"
                  method="POST">
                <!--  th:replace="plantilla/template::form_crear"-->             
                
                <input type="hidden" th:field="*{id}">
                
                <div class="form-group-row">
                    <label for="nombre">Nombre</label>
                    <input type="text" th:field="*{nombre}" placeholder= "Nombre Cliente" id="nombre" aria-describedby="emailHelp">
                </div>
                <div class="form-group-row">
                    <label for="nombre">Apellido 1</label>
                    <input type="text" th:field="*{apellido1}" placeholder= "Apellido 1" id="apellido1" aria-describedby="emailHelp">
                </div>
                <div class="form-group-row">
                    <label for="nombre">Apellido 2</label>
                    <input type="text" th:field="*{apellido2}" placeholder= "Apellido 2" id="apellido2" aria-describedby="emailHelp">
                </div>
                <div class="form-group-row">
                    <label for="nombre">email</label>
                    <input type="text" th:field="*{email}" placeholder= "Email" id="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group-row">
                    <label for="nombre">Telefono</label>
                    <input type="text" th:field="*{telefono}" placeholder= "Telefono" id="telefono" aria-describedby="emailHelp">
                </div>
                <div class="form-group-row">
                    <label for="nombre">Pais</label>
                    <select th:field="*{pais}" class="form-control form-control-sm col-md-6" id="pais" aria-describedby="emailHelp">
                        <option th:each="x:${paises}"
                                th:value="${x.id}"
                                th:text="${x.pais}"/>
                    </select>
                </div>
                <button type="submit" value="Guardar">Submit</button>
            </form>
        </div>
    
        <!-- Footer -->
     <footer th:replace="plantilla/template::footer"></footer> <!--    -->
        
    </body>
</html>
