<!--
Leonel Solis
Personas
S04
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head">        
    </head>
    <title>Lista Personas</title>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <h1 th:text="#{plantilla.clientes}">XXX</h1>
        <h1 th:text="#{cliente.datos}">XXX</h1>
        
        <table class="table table-success table-striped">
            
            <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{cliente.nombre}">Nombre </th>
                    <th scope="col" th:text="#{cliente.apellidos}">Apellido 1 </th>
                    <th scope="col" th:text="#{cliente.apellidos}">Apellido 2 </th>
                    <th scope="col" th:text="#{cliente.nombre}">Correo </th>
                    <th scope="col" th:text="#{cliente.telefono}">Telefono </th>
<!-- comment-->     <th scope="col" th:text="#{cliente.nombre}">Pais </th> 
                    <th scope="col" th:text="#{accion.editar}">Editar </th>
                    <th scope="col" th:text="#{accion.eliminar}">Eliminar </th>
                </tr>                
            </thead>
            
            <tbody>
                <th:block th:each="user : ${personas}">
                    <tr>
                        <td th:text="${user.getNombre}"></td>
                        <td th:text="${user.getApellido1}"></td>
                        <td th:text="${user.getApellido2}"></td>
                        <td th:text="${user.getEmail}"></td>
                        <td th:text="${user.getTelefono}"></td>      
<!-- comment -->        <td th:text="${user.getPais.getPais}"></td>
                        <td> <!-- EDITAR --> 
                            <a th:href="@{/editPersona/{id} (id=${user.getId})}">Edit</a>
                        </td>
                        <td> <!-- ELIMINAR --> 
                            <a th:href="@{/delete/{id} (id=${user.getId})}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>            
        </table>
    </body>
    <!-- Footer -->
     <footer th:replace="plantilla/template::footer"></footer> <!--    -->
</html>
